html, body {
    background-color: #F3FAF9;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #333;
    text-align: center;
}

.pure-u-1-2 {
    margin-top: 30px;
    height: 50%;
    width: 50%;
    float: left;
}
